*{box-sizing: border-box;}

body{
    background: #eee;
}

.container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.button{
    width: 180px;
    height: 60px;
    background: #181818;
    cursor: pointer;
    border: 0;
    outline: 0;
}

.bar{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -300%);
}

.text{
    color: #eee;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.done{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    background: #428315;
    transform: translate(-50%, -300%);
    line-height: 60px;
}

div.canceling{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -300%);
    line-height: 60px;
    background: #e2d84f;
    color: #eee;
}

.done span, .cancel span, .canceling span {
    display: inline-block;
    vertical-align: middle;
}

/* in */
.button.downloading .bar,
.button.idle .text,
.button.finished .done,
.button.canceling .canceling,
.button.downloading:hover > .cancel{
    animation-duration: 0.2s;
    animation-name: slidein;
    transform: translate(-50%, -50%);
    animation-timing-function: cubic-bezier(.67,0,0,1);
}

.button.finished .text{
    transform: translate(-50%, -300%);
}

.button.downloading .cancel{
    width: 100%;
    height: 100%;
    background: RGBA(226,79,82, 0.5);
    color: #eee;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 1.5em;
    line-height: 60px;
}

/*out*/
.button.downloading .text,
.button.canceling .bar,
.button.canceling .text,
.button.finished .bar,
.button.idle.just-finished .done,
.button.idle:not(.just-finished) .canceling,
.button.downloading > .cancel{
    animation-duration: 0.3s;
    animation-name: slideout;
    transform: translate(-50%, -300%);
    animation-timing-function: cubic-bezier(.67,0,0,1);
}

/*out left*/
.button.canceling .bar{
    animation-duration: 0.3s;
    animation-name: slideout-left;
    transform: translate(-200%, -50%);
    animation-timing-function: cubic-bezier(.67,0,0,1);
}

@keyframes slidein {
  from {
    transform: translate(-50%, 200%);
  }

  to {
    transform: translate(-50%, -50%);
  }
}

@keyframes slideout {
  from {
    transform: translate(-50%, -50%);
  }

  to {
    transform: translate(-50%, -300%);
  }
}

@keyframes slideout-left {
  from {
    transform: translate(-50%, -50%);
  }

  to {
    transform: translate(-300%, -50%);
  }
}
